@import "../../components/UI/Assets/master";

.investmentSection{
    background-image: none;
    background-color: $babyBlue;
    position: relative;
    margin-top: 25px;
    padding: 20px 0 40px;
     .overlay{
        display: none;
     }
    header{
        position: relative;
        h3,h6{
            color: #fff;
        }
    }
.shape{
    
    .square{
        width: 100%;
        border: 3px solid #fff;
        margin-bottom: 10px;
        text-align: center;
        display: table;
        overflow: hidden;
       
        &:hover{
            background-color: $babyBlue;
            cursor: pointer;
        }
        .square-content{
            display: table-cell;
            vertical-align: middle;
            padding: 15px 0;
          
            h5{
                font-size: 18px;
                color: #fff;
                margin-top: 10px;
                height: 28px;
                line-height: 18px;
            }
            h6{
                font-size: 30px;
                font-weight: bold;
                color: #fff;
            }
        }
    }
}
    
@media (min-width: 992px){
    background-image: url('../../imgs/invest.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 20px 0 100px;
    .overlay{
        display: block;
       background: rgba(0, 0, 0, 0.7);
    }
    .shape{
        margin-top: 25px;
        .row{
            width: 94%;
            margin: 0 auto;
            padding: 10px 80px;
            .col-md-3{
                transform: rotate(-45deg) translate(20% , 20%);
                .square{
                    width: 120px;
                    height: 120px;
                    margin-bottom: 7px;
                    .square-content{
                        transform: rotate(45deg);
                        padding: 0;
                        img{
                            width: 35px;
                            height: 30px;
                        }
                    }
                }
            }
        }
       
        
    }
}

@media (min-width: 1200px) {
    .shape{
        .row{
            .col-md-3{
                .square{
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
}
}